{% extends "shablon.html" %}
{% block content %}
<h3>Сентябрь</h3>
<button type="button" class="btn btn-outline-primary" disabled>1</button>
<button type="button" class="btn btn-outline-primary" disabled>2</button>
<button type="button" class="btn btn-outline-primary" disabled>3</button>
<button type="button" class="btn btn-outline-primary" disabled>4</button>
<button type="button" class="btn btn-outline-primary" disabled>5</button>
<button type="button" class="btn btn-outline-primary" disabled>6</button>
<button type="button" class="btn btn-outline-primary" disabled>7</button>
<button type="button" class="btn btn-outline-primary" disabled>8</button>
<button type="button" class="btn btn-outline-primary" disabled>9</button>
<button type="button" class="btn btn-outline-primary" disabled>10</button>
<button type="button" class="btn btn-outline-primary" disabled>11</button>
<button type="button" class="btn btn-outline-primary" disabled>12</button>
<button type="button" class="btn btn-outline-primary" disabled>13</button>
<button type="button" class="btn btn-outline-primary" disabled>14</button>
<button type="button" class="btn btn-outline-primary" disabled>15</button>
<button type="button" class="btn btn-outline-primary" disabled>16</button>
<button type="button" class="btn btn-outline-primary" disabled>17</button>
<button type="button" class="btn btn-outline-primary" disabled>18</button>
<button type="button" class="btn btn-outline-primary" disabled>19</button>
<button type="button" class="btn btn-outline-primary" disabled>20</button>
<button type="button" class="btn btn-outline-primary" disabled>21</button>
<button type="button" class="btn btn-outline-primary" disabled>22</button>
<button type="button" class="btn btn-outline-primary" disabled>23</button>
<button type="button" class="btn btn-outline-primary" disabled>24</button>
<button type="button" class="btn btn-outline-primary" disabled>25</button>
<button type="button" class="btn btn-outline-primary" disabled>26</button>
<button type="button" class="btn btn-outline-primary" disabled>27</button>
<button type="button" class="btn btn-outline-primary" disabled>28</button>
<button type="button" class="btn btn-outline-primary" disabled>29</button>
<button type="button" class="btn btn-outline-primary" disabled>30</button>
<div>
    <font face="Times New Roman" size="3"><i>* Дневник будет вестись только начиная с первого сентября. Кнопки пока что
            не работают.</i></font>
</div>

{% endblock %}