{% extends "shablon.html" %}
{% block content %}
<font size="3">Сидел я, и ничто мне не мешало. Запах осенней листвы придавал моим лёгким такое же наслаждение, которое получают курящие
люди, втягивая в себя табачный дым. Ничто не могло разрушить то самое любимое мною состояние пребывания разума в
затмении наслаждения.<br>В дверь постучали...</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid') }}" class="btn btn-primary">Назад</a>
</div>
{% endblock %}