{% extends "shablon.html" %}
{% block content %}
<pre><font face="Arail" size="3">
    –На какое дело нам предстоит пойти? – спросил Юрий.
    – Убийство. Видел когда-нибудь трупы, валяющиеся в грязи и пыли? – ответил я.
    Мы шли по ночному переулку, где не было ни души.
    – Да... Мне это не в первое видеть приходится. – сообщил Датский.
    – Ну ты и маньяк, видимо поубивал до меня кого-то.</font></pre>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid_2') }}" class="btn btn-primary">Назад</a>
</div>

{% endblock %}