{% extends "shablon.html" %}
{% block content %}
<font face="Arail" size="3">Проснулся я поздно. Потянувшись к телефону, заметил, что время позднее. 8:00. На работу надо было скорее
    одеваться.
    Быстро почистив зубы, заправив кровать, сытно поев домашних маминых щей, которые она отправляла нам из Саратова, я
    сел в
    машину и отправился на работу.</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid_2') }}" class="btn btn-primary">Назад</a>
</div>

{% endblock %}