{% extends "shablon.html" %}
{% block content %}
<font face="Arail" size="3">«МЫ ЦИВИЛИЗАЦИЯ, В РУКЕ КОТОРОЙ ИМЕЕТСЯ ВЛАСТЬ. ЦАРСТВОВАНИЕ НАШЕ ПРОЙДЁТСЯ ПО ВСЕЙ СТРАНЕ!
    И НЕТ СПАСЕНИЯ ВСЯКОМУ, КТО
    ВСТАНЕТ У НАС НА ПУТИ». Так звучали слова оратора Роберта Дортмунда на заводе, где его слушали работяги, готовящиеся
    встать на путь кровавой революции.</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid_2') }}" class="btn btn-primary">Назад</a>
</div>

{% endblock %}