{% extends "shablon.html" %}
{% block content %}
<pre><FONT face="Arail" size="3">
    Когда я зашёл в комнату шефа, зловонный запах перегара так и устремлялся ко мне в ноздри.
    – Рей. Какого чёрта тебя не было на рабочем месте целых два месяца?
    – Я же написал заявление.
    – А. Точно. А ты не забыл, что мне на него плевать! – начал кричать босс.</FONT></pre>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid_2') }}" class="btn btn-primary">Назад</a>
</div>

{% endblock %}