{% extends "shablon.html" %}
{% block content %}
<font size="3">Лежа в своей кровати, которая располагалась в зале, я всё думал и мечтал о моём будущем. Мысли не
    покидали меня ни на
    секунду. Даже дошло до того осмысления, как зарождается человеческая душа, как она вселяется в тело, как всё
    созда...
    Вдруг все мысли прервал телефонный звонок от неизвестного мне номера.
</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid') }}" class="btn btn-primary">Назад</a>
</div>
{% endblock %}