{% extends "shablon.html" %}
{% block content %}
<font size="3">Плотно держа пистолет в руке, я медленно, неторопясь подошёл к двери. Резко выдернув дверь так, что она
    чуть не сошла с
    петель, я увидел её... На пороге стояла моя жена, Рита Виольдовна. Она стояла с пакетами, полными всякими
    вкусностями.
    Пистолет я успел сунуть в штаны, от чего его не было видно.
</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid') }}" class="btn btn-primary">Назад</a>
</div>
{% endblock %}