{% extends "shablon.html" %}
{% block content %}
<font size="3">Жена, неумокая, продолжала со мной разговор, который затянулся аж на целых два с лишним часа. За это
    время я успел
    запомнить немало сведений. Первое, к нам в город прибудет бизнесмен, который будет раздавать автографы и принимать к
    себе на работу людей. Я поставил для себя цель, в которой я буду замечен этим самым известным на всю страну
    человеком.
    Второе, как ранее говорилось, к нам прибудет племянница. Ну и, наконец, третье, редакция одобрила мне предложение о
    выходе в свет моего произведения. Счастье, мне казалось, в этом мире более не сыщешь, оно уже лежало у моих ног.
</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid') }}" class="btn btn-primary">Назад</a>
</div>
{% endblock %}