{% extends "shablon.html" %}
{% block content %}
<a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_romid_1') }}" class="btn btn-outline-dark"><I>Ромид 1. Мех.
    машинка.</I></a>
<div class="otstup">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_romid_2') }}" class="btn btn-outline-dark"><I>Ромид 2. Стук
        двери.</I></a>
</div>
<div class="otstup">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_romid_3') }}" class="btn btn-outline-dark"><I>Ромид 3. Готовность
        к действию.</I></a>
</div>
<div class="otstup">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_romid_4') }}" class="btn btn-outline-dark"><I>Ромид 4. Вот и
            случилось неожиданное.</I></a>
</div>
<div class="otstup">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_romid_5') }}" class="btn btn-outline-dark"><I>Ромид 5. Продолжение
        разговора.</I></a>
</div>
<div class="otstup">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_romid_6') }}" class="btn btn-outline-dark"><I>Ромид 6. Бессонная
        ночь.</I></a>
</div>
<div class="otstup">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_romid_7') }}" class="btn btn-outline-dark"><I>Ромид 7. Звонок в
        середине ночи.</I></a>
</div>
<div class="otstup">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_romid_8') }}" class="btn btn-outline-dark"><I>Ромид 8. Утро вечера
        мудренее.</I></a>
</div>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe') }}" class="btn btn-primary">Назад</a>
</div>
{% endblock %}