{% extends "shablon.html" %}
{% block content %}
<font size="3">Дверная ручка дёргалась из стороны в сторону, так и норовя сорваться из установленного для неё места. Я
    взял в руки
    пистолет и взвёл курок, перебирая в голове всякие выходы из ситуаций. Моим главным минусом было то, что я не знал,
    кто
    стоит за дверью и что меня поджидает.
</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid') }}" class="btn btn-primary">Назад</a>
</div>
{% endblock %}