{% extends "shablon.html" %}
{% block content %}
<font face="Arail" size="3">Только сел я за свой скрипучий стул, который давно уже планировалось заменить на японскую модель, и
    вдохнул этот всем
    знакомый запах старых бумаг, как меня, утомлённого и уставшего, позвали к нашему боссу. (Я не приходил на работу вот
    уже
    как два месяца)</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid_2') }}" class="btn btn-primary">Назад</a>
</div>

{% endblock %}