{% extends "shablon.html" %}
{% block content %}
<font face="Arail" size="3">Похлопав его по спине, я сказал ему несколько простых, но очень ласковых слов, от чего его
    рвота смешалась со слезами.
    «Не хватало тут ещё упасть на эту мерзость» – первая мысль посетила меня, тревожно напоминая о нашем деле, которого
    нельзя было откладывать, покамест труп был ещё свежий.
</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid_2') }}" class="btn btn-primary">Назад</a>
</div>

{% endblock %}