{% extends "shablon.html" %}
{% block content %}
<a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_1') }}" class="btn btn-outline-dark"><I>Ромид 1. Будний день
                не затмеет разум мой.</I></a>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_2') }}"
                class="btn btn-outline-dark"><I>Ромид 2. Заход на
                        работу.</I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_3') }}"
                class="btn btn-outline-dark"><I>Ромид 3. Старая
                        встреча.</I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_4') }}"
                class="btn btn-outline-dark"><I>Ромид 4.
                        Запах...</I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_5') }}"
                class="btn btn-outline-dark"><I>Ромид 5. Привет
                        босс...</I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_6') }}"
                class="btn btn-outline-dark"><I>Ромид 6. Дело.
                </I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_7') }}"
                class="btn btn-outline-dark"><I>Ромид 7. Криминал
                </I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_8') }}"
                class="btn btn-outline-dark"><I>Ромид 8. Взывание
                </I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_9') }}"
                class="btn btn-outline-dark"><I>Ромид 9. Встреча
                </I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_10') }}"
                class="btn btn-outline-dark"><I>Ромид 10.
                        Разговорная лексика.
                </I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_11') }}"
                class="btn btn-outline-dark"><I>Ромид 11.
                        Работа.</I></a></div>
<div class="otstup"><a href="{{ url_for('pririode_taiasha_v_sebe_glava_2_romid_12') }}"
                class="btn btn-outline-dark"><I>Ромид 12. Не самое
                        приятное.</I></a></div>
<div class="knopka">
        <a href="{{ url_for('pririode_taiasha_v_sebe') }}" class="btn btn-primary">Назад</a>
</div>
{% endblock %}