{% extends "shablon.html" %}
{% block content %}
<pre><font face="Arail" size="3">
    С учётом сложившихся обстоятельств я в гневе вышел из нашего офиса. Отворив дверь, рожа моего (честно, нафиг не нужного)
напарника возникла из неоткудова.
– Инфаркт хочешь вызвать мне?
– Никак нет! Я ваш напарник, Юрий Датский.
– Ага, а я Деда Шер Русский бл*.</font></pre>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid_2') }}" class="btn btn-primary">Назад</a>
</div>

{% endblock %}