{% extends "shablon.html" %}
{% block content %}
<font face="Arail" size="3">Зайдя в офис, где обычно начиналась моя работа, я сразу метнулся к своему столу. Кем я работаю? Я –
    брокер. Деньги – моя
    жизнь, но не забываю и про моральные нормы. Удивительным делом является тот факт, что деньги меняют человека в
    худшую
    сторону, а меня они никак не меняли, оставляя меня прежнего, такого, какой я есть по нынешний день.</font>
<div class="knopka">
    <a href="{{ url_for('pririode_taiasha_v_sebe_glava_1_spisok_romid_2') }}" class="btn btn-primary">Назад</a>
</div>

{% endblock %}